apiVersion: apps/v1
kind: Deployment
metadata:
  name: configarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: configarr
  template:
    metadata:
      labels:
        app: configarr
    spec:
      containers:
      - name: configarr
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        env:
        - name: TZ
          value: "{{ .Values.env.TZ }}"
        - name: PUID
          value: "{{ .Values.env.PUID }}"
        - name: PGID
          value: "{{ .Values.env.PGID }}"
        ports:
        - containerPort: {{ .Values.service.port }}
        volumeMounts:
        - name: configs
          mountPath: /configs
          readOnly: true
        - name: data
          mountPath: /data
      volumes:
      - name: configs
        hostPath:
          path: {{ .Values.persistence.configsPath }}
      - name: data
        hostPath:
          path: {{ .Values.persistence.dataPath }}
